<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
      <app-form-custom (styles)="loadStyles($event)"> 
      </app-form-custom>
 </mat-sidenav>
  <mat-sidenav-content>
    <nav>
        <button mat-button-icon (click) ="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Customize Bot</span>
    </nav>
    <div class="container">
      <div>
        <app-central-div></app-central-div> 
      </div>
    </div>
    <footer>footer</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<div></div> -->