.chat {
    list-style: none;
    background: none;
    margin: 0;
    position: absolute;
    top: 96px;
    height: 79%;
    width: 96%;
    overflow-y: scroll !important;
    padding-right: 17px;
    z-index: -10;
    background-image: url("/../assets/img/back0005.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.chat li {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.bubble {
    display: inline-block;
    margin-top: .3em;
    margin-bottom: .2em;
    padding: .5em;
    border: 1px solid gray;
    border-radius: 1rem;
    min-width: 20rem;
    max-width: 22rem;
    min-height: 4rem;

    overflow: hidden;
    box-sizing: border-box;
}

.bubbleL {
    margin-left: 30%;
    background-color: #f3f3ff;
}

.bubbleR {
    margin-left: 45%;
    background-color: white;
}

/* talk bubble contents */
.talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.botIcon {
    vertical-align: middle;
    display: inline-block;
    width: 60px;
    z-index: 9;
}

.iconLeft {
    margin-top: -16px;
    margin-left: -2rem;
    float: left;
}

.iconRight {
    float: right;
}

.date {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
.load{
    width: 21rem;
    height: 7rem;
    position: absolute;
    top: 1.5% !important;
}
