.chat {
    list-style: none;
    background: none;
    height: 95%; 
    overflow-y: auto;
    padding-right: 17px;
    z-index: -10;
    background-image: url('/../assets/img/back0005.png');
    background-size: 100%;
    opacity: .9;
}

